PRIVATE_KEY=
MNEMONIC=

MAINNET_ENDPOINT=https://mainnet.infura.io/v3/0caefafd05174e7b91e7cde324bdb8b6
ROPSTEN_ENDPOINT=https://ropsten.infura.io/v3/0845ad3588ff41c28daa996f17a5e1c5
RINKEBY_ENDPOINT=https://rinkeby.infura.io/v3/37252b3f1cb04268972da8cde9687dd9
BSCTEST_ENDPOINT=https://data-seed-prebsc-1-s1.binance.org:8545
BSC_ENDPOINT=https://bsc-dataseed1.defibit.io
ETHSCAN_API_KEY=H2371T82RPIKXAZYDA55ICCY2BYIP2ZJ2X
BSCSCAN_API_KEY=WZNIHQUI34HEKXYTYTJWCPISJSMGFZAQKN