# Node
node_modules

# Env
.env

# macOS
.DS_Store

# Hardhat
cache/
artifacts/
# (custom Hardhat paths)
_hardhat-cache/
_hardhat-artifacts/

# Foundry
out
# (custom Foundry paths)
_foundry-cache/
_foundry-artifacts/

# Typechain
typechain
typechain-types

# Other
.privatekey-bridgeadmin
.privatekey
coverage
coverage.json
